.title{
  margin: 80px;
}

.plot-section{
  margin: 230px 180px;
}

body {
-webkit-font-smoothing: antialiased;
-o-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


svg.chord-container {
}

div.tooltipChord {
  position: absolute;
  visibility: hidden;
  background: #2db5b5;
  font: 14px Verdana;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  border-width: 5px;
}

div.tooltipScatter {
  position: absolute;
  visibility: hidden;
  background: #2db5b5;
  font: 14px Verdana;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  border-width: 5px;
}

a {
  text-decoration: underline;
  fill: #0080ff;
}

.ticklabels {
  font: 10px Verdana;
}

.y-axis-label {
  font: 16px Calibri;
  fill: #d4d4d4;
}

.y-axis .domain {
  stroke: #d4d4d4;
}

.y-axis line {
  stroke: #d4d4d4;
}

.y-axis .tick {
  stroke: #d4d4d4;
  font: 14px Calibri Light;
}

.x-axis .domain {
  stroke: #d4d4d4;
}

.x-axis line {
  stroke: #d4d4d4;
}

.x-axis .tick {
  stroke: #d4d4d4;
  font: 12px Calibri Light;
}

.barChart {
  background-color: #242424;
}

.graphTitle {
  font: 20px Calibri;
  fill: #d4d4d4;
}

.legend-text {
  fill: #d4d4d4;
  font: 12px Calibri Light;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

/* 
h1 {
  font-family: Alegreya SC, serif;
} */

.scatterbackground {
  fill: transparent;
  shape-rendering: crispEdges;
}
.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}
.dot:hover {
  stroke: black;

}
