div.tooltipChord {
  position: absolute;
  visibility: hidden;
  background: #2db5b5;
  font: 14px Verdana;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  border-width: 5px;

}

.ticklabels {
  font: 10px Verdana;
}
