div.tooltipChord {
  position: absolute;
  opacity: 0.85;
  visibility: hidden;
  background: white;
  font: 14px Verdana;
  color: #396AC0;
  border-radius: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.ticklabels {
  font: 10px Verdana;
}
